body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f2f2f2;
}

#choice-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.row {
  display: flex;
}

.choice {
  width: 33.33vw; /* 33.33% of viewport width */
  height: 50vh; /* 50% of viewport height */
  margin: 5px;
  line-height: 50vh;
  text-align: center;
  border-radius: 10px;
  background-color: lightgray;
  cursor: pointer;
  /* transition: background-color 0.3s; */
  color: white;
  font-size: 4em; /* Increased font size */
  font-weight: bold; /* Bolder font */
}

.choice.active {
  color: white;
}
